@{
    ViewData["Title"] = "Информация";
}
<h2>@ViewData["Title"]</h2>
<style>
    p {
        text-indent: 25px;
        text-align:justify;
        font-size:17px
</style>

<p>Государственное бюджетное образовательное учреждение профессионального образования города Севастополя "Севастопольский торгово-экономический техникум" – государственное бюджетное образовательное учреждение профессионального образования, предоставляющее свои услуги в сфере образования уже более 50 лет. За это время многие выпускники нашего учебного заведения стали руководителями торговых организаций, предприятий общественного питания, гостиничного бизнеса города Севастополя и Крымского региона.</p>

<p>Опытные, талантливые преподаватели, активные, инициативные студенты и сегодня обеспечивают незабываемые студенческие годы, проведённые в стенах СТЭТ. Прохождение практического обучения согласно договорам с предприятиями города и региона позволяет нашим будущим выпускникам не только научиться применять полученные теоретические знания, приобрести опыт работы в реальной производственной среде, но и сделать заявку будущим работодателям о трудоустройстве в перспективе.</p>

<p>Государственное бюджетное образовательное учреждение профессионального образования города Севастополя «Севастопольский торгово-экономический техникум» (ГБОУПО «СТЭТ») создано Постановлением Правительства Севастополя № 522 от 28.11.2014, с использованием в качестве базы для его создания и развития образовательного учреждения города Севастополя «Севастопольский коммерческий техникум».</p>

<p>Севастопольский коммерческий техникум был создан 01.09.1964 года согласно постановлению ЦК КП Украины и Совета Министров УССР № 204 от 23.02.1962 г. как Севастопольский техникум советской торговли. В 1991 г. переименован в Севастопольский коммерческий техникум (приказ Министерства торговли УССР от 19.09.1991 № 91). В соответствии с постановлением Кабинета Министров Украины от 18.01.1992 № 15 «О передаче учебных заведений Министерства внешних экономических связей и торговли в систему Минобразования Украины» техникум был передан в подчинение Министерству образования и науки Украины и внесен в Единый государственный реестр предприятий и организации Украины 03.10.1997 года.</p>

<p>В связи с принятием в Российскую Федерацию Республики Крым и образованием в составе Российской Федерации новых субъектов – Республики Крым и города федерального значения Севастополя Севастопольский коммерческий техникум перешёл в подчинение Главного управления образования и науки города Севастополя.</p>

<p>Учредителем ГБОУПО «СТЭТ» является Департамент образования города Севастополя. Функции и полномочия Учредителя осуществляет Главное управление образования и науки города Севастополя (Согласно Указу Губернатора города Севастополя от 17.03.2015 №31-УГ переименовано в Департамент образования города Севастополя).</p>

