@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>


<address>
    Севастополь, ул. Кожанова, д.2<br />
    Почтовый индекс 299007<br />
    Контактные телефоны: +7(8692) 54-36-04, 40-40-94<br>

</address>

<address>
    <strong>Электронная почта:</strong> <a href="sevcomt@gmail.com">sevcomt@gmail.com</a><br />
</address>
